# -*- mode: sh -*- #

#Standard aliases
alias asf='allSourceFiles'
alias h='history'
alias f='find . -name '
alias tree='tree -C'
alias cd='cd -P' #Use the physical directory structure for symlinks
alias b='cd -'
alias u='cd ../'
alias lc='/usr/bin/wc -l'
alias revert='git checkout'
#alias diff='colordiff'
alias rm='rm -I --preserve-root'
alias vi=vim

printLastDir()
{
  /bin/ls -l | egrep '^d' | tail -1 | awk '{$1=$2=$3=$4=$5=$6=$7=$8=""; print substr($0, 9)}'
}

## Directory changes
alias cdc='cd ${HOME}/.${USER}_config'
alias cdr='cd ${HOME}/run'
alias cdy='cd $(date +%Y%m%d -d yesterday)'
alias cdt='cd $(date +%Y%m%d)'
alias cdl='cd $(printLastDir)'

# Git aliases
alias add='git add --all'
alias pull='git pull'
alias push='git push'

#Aliases for 'ls' and variations
alias ls='/bin/ls --color=auto'
alias l='/bin/ls --color=auto -dA */'
alias la='/bin/ls --color=auto -lFh'
alias ll='/bin/ls --color=auto -AFlh'
alias lll='ll'
