"*":
  "autocomplete-haskell":
    useBackend: "haskell-ghc-mod"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "haskell-grammar"
      "haskell-hoogle"
      "linter-api-blueprint"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db .user"
    ]
    packagesWithKeymapsDisabled: [
      "api-blueprint-preview"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 17
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "ed85997d-630e-8e3e-2de4-371ad5ccb4d0"
  "file-icons": {}
  "fold-functions":
    autofoldIgnoreGrammars: [
      "SQL"
      "CSV"
      "CSON"
      "Plain Text"
    ]
  "go-plus":
    currentPanelHeight: "4.734848484848484vh"
    lint:
      args: [
        "--vendor"
        "--disable-all"
        "--enable=vet"
        "--enable=vetshadow"
        "--enable=golint"
        "--enable=ineffassign"
        "--enable=goconst"
        "--enable=deadcode"
        "--enable=varcheck"
        "--enable=errcheck"
        "--enable=dupl"
        "--enable=unconvert"
        "--enable=gosimple"
        "--enable=staticcheck"
        "--tests"
        "--json"
        "."
      ]
    panel:
      currentHeight: "18.08712121212121vh"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "covered"
  "haskell-ghc-mod": {}
  linter:
    lintOnChange: false
  "linter-ui-default":
    panelHeight: 47
  "split-diff":
    ignoreWhitespace: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".apiary.source":
  editor:
    tabLength: 4
".apib.gfm.html.markdown.source.text":
  editor:
    tabLength: 4
".gfm.html.markdown.mson.source.text":
  editor:
    tabLength: 4
