'atom-text-editor:not([mini])':
  'alt-shift-down' : 'rectangle-selection:select-down'
  'alt-shift-up'   : 'rectangle-selection:select-up'
  'alt-shift-left' : 'rectangle-selection:select-left'
  'alt-shift-right': 'rectangle-selection:select-right'
  'alt-shift-home' : "rectangle-selection:select-to-beginning-Of-line"
  'alt-shift-end'  : "rectangle-selection:select-to-end-of-line"

'body':
  'ctrl-k right': 'pane:split-right-and-move-active-item'
  'ctrl-m right': 'window:move-active-item-to-pane-on-right'
  'ctrl-m left':  'window:move-active-item-to-pane-on-left'
