'.source.go':
    'return nil and error':
      'prefix': 'rne'
      'body': 'return nil, err'

    'return err if err':
      'prefix': 'iferr'
      'body': """
      if err != nil {
          return err
      }
      """

    'insert fmt.Println':
      'prefix': 'println'
      'body': 'fmt.Println(${1})'

    'insert fmt.Printf':
      'prefix': 'printf'
      'body': 'fmt.Printf("${1} = ${2:%v}\\\\n", ${1})'

    'insert authorize check':
        'prefix': 'auth'
        'body': """
if err := AuthorizeRole(db, r, accountID, models.${1:ADMIN}); err != nil {
	return err
}
    """
